    <div class="container">
    	<div class="header pull-left">
        	
            <a href="index.html" class="logo"><img src="img/logo.png" alt="logo" /></a>
            
            <nav class="navbar navbar-default pull-right" role="navigation">
 
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="<%= root_path %>">Home</a></li>
                  <li><a href="<%= about_path %>">About Us</a></li>
                  <li><a href="<%= blog_path %>">Blog</a></li>
                  <li><a href="<%= portfolio_path %>">Portfolio</a></li>
                  <li><a href="<%= ourteam_path %>">Our Team</a></li>
                  <li><a href="<%= contact_path %>">Contact</a></li>
                </ul>
                
              </div><!-- /.navbar-collapse -->
            </nav>

			<div id="dl-menu" class="dl-menuwrapper pull-right">
    			<button class="dl-trigger">Open Menu</button>
    			<ul class="dl-menu">
    				<li>
    					<a href="index.html">Home</a>
    				</li>
    				<li>
    					<a href="about.html">About Us</a>
    				</li>
    				<li>
    					<a href="blog.html">Blog</a>
    				</li>
                    <li>
    					<a href="portfolio.html">Portfolio</a>
    				</li>
    				<li>
    					<a href="#">Dropdown</a>
    					<ul class="dl-submenu">
    						<li><a href="#">Fine Jewelry</a></li>
    						<li><a href="#">Fashion Jewelry</a></li>
    						<li><a href="#">Watches</a></li>
    						<li>
    							<a href="#">Wedding Jewelry</a>
    							<ul class="dl-submenu">
    								<li><a href="#">Engagement Rings</a></li>
    								<li><a href="#">Bridal Sets</a></li>
    								<li><a href="#">Women's Wedding Bands</a></li>
    								<li><a href="#">Men's Wedding Bands</a></li>
    							</ul>
    						</li>
    					</ul>
    				</li>
                    <li>
    					<a href="team.html">Our Team</a>
    				</li>
                    <li>
    					<a href="contact.html">Contact</a>
    				</li>
    			</ul>
    		</div><!-- /dl-menuwrapper -->
        </div>
    </div>

	
    <div class="blog">
	
    
    <div class="container">
    
    	
    	
        <div class="blog-post pull-left">
        	<div class="blog-header">
            	<div class="ribbon-stitches-bottom"></div>
        		<h1>Blog</h1>
                <div class="ribbon-stitches-bottom"></div>
            </div>
   
   </div>
   </div><!--blog-->
   </div>
   
   <div class="container">
   
            
            
            
        <div class="blog-post pull-left">
    	
            <div class="row">
            
            	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                	<div class="r-post b-post not-right-bdr">
                    	<div class="r-post-img">
                    		<a href="#"><img src="img/blog01.jpg" alt="blog01" /></a>
                            <div class="date-stamp">
                            	<div class="day">02</div>
                                <div class="month">july</div>
                                <div class="year">2013</div>
                            </div>
                    	</div>
                        
                        <a href="#"><h3>Have a peek at what we are writing about</h3></a>
                        
                        <ul class="post-by">
                            <li><a href="#">dona</a></li>
                            <li><a href="#">Demo Posts</a></li>
                        </ul>
                        
                        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. </p>
                        
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                
                	<div class="r-post b-post not-right-bdr top20">
                    	<div class="r-post-img">
                    		<a href="#"><img src="img/blog02.jpg" alt="blog02" /></a>
                            <div class="date-stamp">
                            	<div class="day">02</div>
                                <div class="month">july</div>
                                <div class="year">2013</div>
                            </div>
                    	</div>
                        
                        <ul class="post-by">
                            <li><a href="#">dona</a></li>
                            <li><a href="#">Demo Posts</a></li>
                        </ul>
                        
                        
                    </div><!-- r-post -->
                	
                	<div class="r-post not-right-bdr top20 pull-left">
                    	<div class="r-post-img">
                    		<a href="#"><img src="img/blog03.jpg" alt="blog03" /></a>
                            <div class="date-stamp">
                            	<div class="day">02</div>
                                <div class="month">july</div>
                                <div class="year">2013</div>
                            </div>
                    	</div>
                        
                        <ul class="post-by">
                            <li><a href="#">dona</a></li>
                            <li><a href="#">Demo Posts</a></li>
                        </ul>
                        
                        
                    </div><!-- r-post -->
                
                
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                	
                    <div class="r-post b-post not-right-bdr top20">
                    	<div class="r-post-img">
                    		<a href="#"><img src="img/blog02.jpg" alt="blog02" /></a>
                            <div class="date-stamp">
                            	<div class="day">02</div>
                                <div class="month">july</div>
                                <div class="year">2013</div>
                            </div>
                    	</div>
                        
                        <ul class="post-by">
                            <li><a href="#">dona</a></li>
                            <li><a href="#">Demo Posts</a></li>
                        </ul>
                        
                        <a href="#"><h3>Have a peek at what we are writing about</h3></a>
                        
                        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. </p>
                        
                    </div><!-- r-post -->
                    
                </div>
            
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                	<div class="r-post b-post not-right-bdr">
                    	<div class="r-post-img">
                    		<a href="#"><img src="img/blog01.jpg" alt="blog01" /></a>
                            <div class="date-stamp">
                            	<div class="day">02</div>
                                <div class="month">july</div>
                                <div class="year">2013</div>
                            </div>
                    	</div>
                        
                        
                        <ul class="post-by">
                            <li><a href="#">dona</a></li>
                            <li><a href="#">Demo Posts</a></li>
                        </ul>
                        
                        <a href="#"><h3>Have a peek at what we are writing about</h3></a>
                        
                        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. </p>
                        
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                
                	<div class="r-post b-post not-right-bdr top20">
                    	<div class="r-post-img">
                    		<a href="#"><img src="img/blog02.jpg" alt="blog02" /></a>
                            <div class="date-stamp">
                            	<div class="day">02</div>
                                <div class="month">july</div>
                                <div class="year">2013</div>
                            </div>
                    	</div>
                        
                        <ul class="post-by">
                            <li><a href="#">dona</a></li>
                            <li><a href="#">Demo Posts</a></li>
                        </ul>
                        
                        <a href="#"><h3>Have a peek at what we are writing about</h3></a>
                        
                        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. </p>
                        
                    </div><!-- r-post -->
                	
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                	
                    <div class="r-post b-post not-right-bdr top20">
                    	<div class="r-post-img">
                    		<a href="#"><img src="img/blog02.jpg" alt="blog02" /></a>
                            <div class="date-stamp">
                            	<div class="day">02</div>
                                <div class="month">july</div>
                                <div class="year">2013</div>
                            </div>
                    	</div>
                        
                        <ul class="post-by">
                            <li><a href="#">dona</a></li>
                            <li><a href="#">Demo Posts</a></li>
                        </ul>
                        
                        <a href="#"><h3>Have a peek at what we are writing about</h3></a>
                        
                        
                        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. </p>
                        
                    </div><!-- r-post -->
                    
                </div>
                
              </div>
            
            <div class="row">
            
            	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                	<div class="r-post b-post not-right-bdr">
                    	<div class="r-post-img">
                    		<a href="#"><img src="img/blog01.jpg" alt="blog01" /></a>
                            <div class="date-stamp">
                            	<div class="day">02</div>
                                <div class="month">july</div>
                                <div class="year">2013</div>
                            </div>
                    	</div>
                        
                        <a href="#"><h3>Have a peek at what we are writing about</h3></a>
                        
                        <ul class="post-by">
                            <li><a href="#">dona</a></li>
                            <li><a href="#">Demo Posts</a></li>
                        </ul>
                        
                        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. </p>
                        
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                	
                    <div class="r-post b-post not-right-bdr top20">
                    	<div class="r-post-img">
                    		<a href="#"><img src="img/blog02.jpg" alt="blog02" /></a>
                            <div class="date-stamp">
                            	<div class="day">02</div>
                                <div class="month">july</div>
                                <div class="year">2013</div>
                            </div>
                    	</div>
                        
                        <ul class="post-by">
                            <li><a href="#">dona</a></li>
                            <li><a href="#">Demo Posts</a></li>
                        </ul>
                        
                        <a href="#"><h3>Have a peek at what we are writing about</h3></a>
                        
                        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. </p>
                        <p>We understand your story is unique. That is why our micro-campaigns and solutions are individually crafted for each of our clients. We create applications for web, iOS and Android platforms.</p>
                        
                    </div><!-- r-post -->
                    
                </div>
            
            </div>
            
    
    	</div><!-- End blog-post -->
        
    
    </div><!-- End container -->
    
   
	
   <div class="footer">
   
   		<div class="container">
        
        	<div class="row">
            	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                	<div class="address">
                    	<h3>Get in touch</h3>
                        
                        <ul>
                        	<li><a href="#">E: support@brightlight.com.bd</a></li>
                            <li><a href="#">P: 0418 281 810</a></li>
                            <li><a href="#">W: www.brightlight.com.bd</a></li>
                        </ul>
                        
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                	<div class="address">
                    	<h3>Our Location</h3>
                        
                        <ul>
                        	<li>Bright Light</li>
                            <li>1No. Rode Chandgaon Abashik</li>
                            <li>Chittagong Bangladesh</li>
                        </ul>
                        
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                	<div class="address">
                    	<h3>Free Support</h3>
                        
                        <ul>
                        	<li>Call Now</li>
                            <li><a href="#">00800 515151</a></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        
        </div>
   
   </div><!-- End footer -->