    <div class="container">
    	<div class="header pull-left">
        	
            <!-- <a href="index.html" class="logo"><img src="img/logo.png" alt="logo" /></a> -->
            
            <nav class="navbar navbar-default pull-right" role="navigation">
 
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="<%= root_path %>">Home</a></li>
                  <li><a href="<%= about_path %>">About Us</a></li>
                  <li><a href="<%= blog_path %>">Blog</a></li>
                  <li><a href="<%= portfolio_path %>">Portfolio</a></li>
                  <li><a href="<%= ourteam_path %>">Our Team</a></li>
                  <li><a href="<%= contact_path %>">Contact</a></li>
                </ul>
                
              </div><!-- /.navbar-collapse -->
            </nav>
			
            <div id="dl-menu" class="dl-menuwrapper pull-right">
						<button class="dl-trigger">Open Menu</button>
						<ul class="dl-menu">
							<li>
								<a href="index.html">Home</a>
							</li>
							<li>
								<a href="about.html">About Us</a>
							</li>
							<li>
								<a href="blog.html">Blog</a>
							</li>
                            <li>
								<a href="portfolio.html">Portfolio</a>
							</li>
							<li>
								<a href="#">Dropdown</a>
								<ul class="dl-submenu">
									<li><a href="#">Fine Jewelry</a></li>
									<li><a href="#">Fashion Jewelry</a></li>
									<li><a href="#">Watches</a></li>
									<li>
										<a href="#">Wedding Jewelry</a>
										<ul class="dl-submenu">
											<li><a href="#">Engagement Rings</a></li>
											<li><a href="#">Bridal Sets</a></li>
											<li><a href="#">Women's Wedding Bands</a></li>
											<li><a href="#">Men's Wedding Bands</a></li>
										</ul>
									</li>
								</ul>
							</li>
                            <li>
								<a href="team.html">Our Team</a>
							</li>
                            <li>
								<a href="contact.html">Contact</a>
							</li>
						</ul>
					</div><!-- /dl-menuwrapper -->


        
        </div>
    </div>
	
    <div class="blog">
	
    
    <div class="container">
    	
        
        
    	<div class="blog-header pull-left">
            	<div class="ribbon-stitches-bottom"></div>
        		<h1>Portfolio</h1>
                <div class="ribbon-stitches-bottom"></div>
                
                
              <section class="main">
				<div class="wrapper-demo">
					<div id="dd" class="wrapper-dropdown-1" tabindex="1">
						<span>Categories</span>
					    <ul class="dropdown-select portfolioFilter" tabindex="1">
					        <li><a href="#" data-filter="*" class="current">All Categories</a></li>
					        <li><a href="#" data-filter=".people">People</a></li>
                            <li><a href="#" data-filter=".places">Places</a></li>
					        <li><a href="#" data-filter=".food">Food</a></li>
                            <li><a href="#" data-filter=".objects">Objects</a></li>
					    </ul>
					</div>
				​</div>
			</section>
                
       </div>
       
    </div>
    </div><!--blog-->	
           
           
      <div class="container">
        
        <div class="portfolio-container">
        
        <!--<div class="portfolioFilter">
            
                <a href="#" data-filter="*" class="current">All Categories</a>
                <a href="#" data-filter=".people">People</a>
                <a href="#" data-filter=".places">Places</a>
                <a href="#" data-filter=".food">Food</a>
                <a href="#" data-filter=".objects">Objects</a>
            
            </div>-->
            
            
            
            <div class="portfolioContainer">
            
            	<div class=" objects">
                	<div class="portfolio-img view-tenth">
                		<img src="img/blog01.jpg" class="img-responsive"  alt="Responsive image" />
                        <div class="mask">
                            <a id="example7" href="img/blog01.jpg" class="info" title="Cras neque mi, semper at interdum id, dapibus in leo. Suspendisse nunc leo, eleifend sit amet iaculis et, cursus sed turpis."><i class="fa fa-search-plus fa-2x"></i></a>
                            <a href="#" class="link"><i class="fa fa-link fa-2x"></i></a>
                    	</div>
                    </div>
                </div>
                
                <div class="people places">
                	<div class="portfolio-img view-tenth">
                		<img src="img/blog02.jpg" class="img-responsive"  alt="Responsive image" />
                        <div class="mask">
                            <a id="example7" href="img/blog02.jpg" class="info" title="Cras neque mi, semper at interdum id, dapibus in leo. Suspendisse nunc leo, eleifend sit amet iaculis et, cursus sed turpis."><i class="fa fa-search-plus fa-2x"></i></a>
                            <a href="#" class="link"><i class="fa fa-link fa-2x"></i></a>
                    	</div>
                    </div>
                </div>
            
            
            
            	<div class="food">
                	<div class="portfolio-img view-tenth">
                		<img src="img/blog03.jpg" class="img-responsive"  alt="Responsive image" />
                        <div class="mask">
                            <a id="example7" href="img/blog03.jpg" class="info" title="Cras neque mi, semper at interdum id, dapibus in leo. Suspendisse nunc leo, eleifend sit amet iaculis et, cursus sed turpis."><i class="fa fa-search-plus fa-2x"></i></a>
                            <a href="#" class="link"><i class="fa fa-link fa-2x"></i></a>
                    	</div>
                    </div>
                </div>
                
                <div class=" people">
                	<div class="portfolio-img view-tenth">
                		<img src="img/blog04.jpg" class="img-responsive"  alt="Responsive image" />
                        <div class="mask">
                            <a id="example7" href="img/blog04.jpg" class="info" title="Cras neque mi, semper at interdum id, dapibus in leo. Suspendisse nunc leo, eleifend sit amet iaculis et, cursus sed turpis."><i class="fa fa-search-plus fa-2x"></i></a>
                            <a href="#" class="link"><i class="fa fa-link fa-2x"></i></a>
                    	</div>
                    </div>
                </div>
                
                <div class=" objects">
                	<div class="portfolio-img view-tenth">
                		<img src="img/blog01.jpg" class="img-responsive"  alt="Responsive image" />
                        <div class="mask">
                            <a id="example7" href="img/blog01.jpg" class="info" title="Cras neque mi, semper at interdum id, dapibus in leo. Suspendisse nunc leo, eleifend sit amet iaculis et, cursus sed turpis."><i class="fa fa-search-plus fa-2x"></i></a>
                            <a href="#" class="link"><i class="fa fa-link fa-2x"></i></a>
                    	</div>
                    </div>
                </div>
                
                <div class="people places">
                	<div class="portfolio-img view-tenth">
                		<img src="img/blog02.jpg" class="img-responsive"  alt="Responsive image" />
                        <div class="mask">
                            <a id="example7" href="img/blog02.jpg" class="info" title="Cras neque mi, semper at interdum id, dapibus in leo. Suspendisse nunc leo, eleifend sit amet iaculis et, cursus sed turpis."><i class="fa fa-search-plus fa-2x"></i></a>
                            <a href="#" class="link"><i class="fa fa-link fa-2x"></i></a>
                    	</div>
                    </div>
                </div>
                
            
            </div>
            
        </div><!--portfolio-container-->
        
    </div><!-- End container -->
    
   
	
   <div class="footer">
   
   		<div class="container">
        
        	<div class="row">
            	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                	<div class="address">
                    	<h3>Get in touch</h3>
                        
                        <ul>
                        	<li><a href="#">E: support@brightlight.com.bd</a></li>
                            <li><a href="#">P: 0418 281 810</a></li>
                            <li><a href="#">W: www.brightlight.com.bd</a></li>
                        </ul>
                        
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                	<div class="address">
                    	<h3>Our Location</h3>
                        
                        <ul>
                        	<li>Bright Light</li>
                            <li>1No. Rode Chandgaon Abashik</li>
                            <li>Chittagong Bangladesh</li>
                        </ul>
                        
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                	<div class="address">
                    	<h3>Free Support</h3>
                        
                        <ul>
                        	<li>Call Now</li>
                            <li><a href="#">00800 515151</a></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        
        </div>
   
   </div><!-- End footer -->
<%= render 'port' %>